<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/loader') %>
    <%- include('../partials/offcanvas') %>

    <%- include('../partials/header') %>
    <main>
        <%- include('../content/index-content') %>
    </main>
</body>
<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</html>